<h1>Cocktails</h1>
  <div class="row mb-3">
    <% images = ['https://images.unsplash.com/photo-1536935338788-846bb9981813?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2486&q=80',
        'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.oI8C-_aLrV9243gkfhsNzAHaLH%26pid%3DApi&f=1',
        'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.Z7jpq3jmOBuiZh5Xn0rQXAHaFj%26pid%3DApi&f=1',
        'https://images.unsplash.com/photo-1563223771-375783ee91ad?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvY2t0YWlsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60',
        'https://images.unsplash.com/photo-1553607558-455f4310f6ec?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGNvY2t0YWlsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60'
      ] %>

    <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-md-4 mb-3">
          <div class="card">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        </div>
    <% end %>
  </div>

<%= link_to "Create cocktail", new_cocktail_path, class: 'btn btn-primary' %>

