<div class="banner">
  <h1>Madame<br/>Cocktails</h1>
  <p>Discover our special cocktail selection for the next le Wagon boom party!</p>
</div>


<div class="container mt-5 mb-5">
  <div class="row mb-3">
    <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-md-4 mb-3">
          <div class="card-cocktail">
            <%= link_to cocktail_path(cocktail) do %>
              <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="create-module">
    <h2>Customize your cocktail</h2>
    <p>We also offer you the possibility to create your own custom cocktail with dozens of ingredients available</p>
    <%= link_to "Create cocktail", new_cocktail_path %>
</div>

