body {
  background-color: $light-gray;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: 32px;
  font-size: 78px;
}

h2 {
  font-size: 54px;
  max-width: 700px;
  margin-bottom: 0;
}

p {
  letter-spacing: 1.5px;
  font-size: 22px;
}

.btn-primary {
  background-color: $light_gray;
  color: $dark-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
  padding: 12px 20px;

}
  .btn-primary:hover {
    background-color: $light-gray;
    color: $dark-gray;
  }

.create-module {
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  padding: 32px;

  p {
    margin: 30px 0px 38px 0px;
    max-width: 600px
  }

  a {
  color: white;
  margin: 8px;
  padding: 16px 28px;
  border: solid 1px white;
  border-radius: 32px;

    &:hover {
      background-color: white;
      transition: 0.2s ease;
      color: $dark-gray;
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }
}
