body {
  background-color: $light-gray;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: 32px;
  font-size: 68px;
}

h2 {
  font-size: 48px;
  max-width: 700px;
  margin-bottom: 0;
}

p {
  letter-spacing: 1.5px;
}

.btn-primary {
  background-color: $light_gray;
  color: $dark-gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0px;
  padding: 12px 20px;

}
  .btn-primary:hover {
    background-color: $light-gray;
    color: $dark-gray;
  }

.create-module {
  background-color: $dark-gray;
  display: flex;
  align-items: center;
  height: 500px;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 30px 0px 38px 0px;
    max-width: 600px
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 42px;
  }
}
