.body-show {
  background-color: $dark-red;
  margin-top: 32px;
}

.container-show {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-show {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 3px;
  margin-bottom: 32px;
}

.card {
  background-color: $light-gray;
  color: black;
  width: 100%;
  max-width: 700px;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 32px;
}

.card-body {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    color: gray;
  }
}

.gray {
  color: gray;
}

.links {
  margin-top: 16px;
  a {
    color: white;
    margin: 8px;
    padding: 16px 28px;
    border: solid 1px white;
    border-radius: 32px;

    &:hover {
      background-color: white;
      transition: 0.2s ease;
      color: $dark-red;
    }
  }
}

@media screen and (max-width: 576px) {
  .body-show h1 {
    font-size: 38px;
    // margin-top: 16px;
  }
}
