.banner {
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $dark-red;
  width: 100%;
  padding: 28px;

  p {
    display: block;
    max-width: 580px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 576px) {
  .banner {
    height: 80vh;
  }
}

@media screen and (max-width: 768px) {
  .banner p {
    max-width: 420px;
  }
}

