.card-cocktail {
  // background-size: cover;
  // background-position: center;
  // position: relative;
  // width: 100%;
  // height: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // background: red;
  // padding-bottom: 24px;
  padding: 12px 12px 16px 12px;
  border-radius: 3px;

  a {
    color: $dark-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding-top: 16px;
    font-size: 16px;
  }

  img {
    border-radius: 3px;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s ease;
  }
  img:hover {
    filter: none;
  }

  &:hover {
    // background-color: white;
    // box-shadow: 4px 4px 7px rgba(255,0,0,0.3);
    // border: solid 1px black;
    // padding: 12px;
    transition: 0.3s ease;
    color: white;
  }
}

