.card-cocktail {
  // background-size: cover;
  // background-position: center;
  // position: relative;
  // width: 100%;
  // height: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // background: red;
  padding-bottom: 24px;

  a {
    color: $dark-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding-top: 16px;
    font-size: 14px;
  }

  img {
    border-radius: 3px;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s ease;
  }
  img:hover {
    filter: none
  }
}

