.card {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

